modules = ["nodejs-20"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 41346485
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run server & npm run expose"

[[ports]]
localPort = 8302
externalPort = 80
